
body{
    margin-left: 0;
    margin-right: 0;
    background-color: #333;
    color: #fff;
}

.big-text{
    font-size: 200%;
}

.bg-light, .header-band{
    background-color: #444;
}

.bg-dark, .content-box{
    background-color: #222;
}

.pad10px, .content-box{
    padding: 10px;

}

.content-box{
    margin: 10px;
    border-radius: 10px;
}

.center, .header-band{
    text-align: center;
}

.header-band{
    margin-left: 0px;
    margin-right: 0px;
}

.color-yellow{
    color: yellow;
}
